<body style="background-color:powderblue;">
<center>
<h1><font face = verdana color="Brown">Chitter</font></h1>

<form action="/peeps" method="post">
  <input type="textarea" name="peep" style="font-size: 18pt; height: 40px; width:280px"/><br/><br/>
  <input type="submit" value="Submit" style="font-size: 18pt; height: 40px; width:140px"/>
</form>


<% @peeps.each do |peep| %>
<p><div="peeps"><font face = arial color = black style="font-size: 18pt"><%= peep.peep %><br/></font></div>
  <div="created_at"><font face = arial color = gray style="font-size: 8pt"><%= peep.created_at %></font></div></p>
<% end %>
</center>
</body>
