<center>
<h1><font face = verdana>Chitter</font></h1>

<form action="/peeps" method="post">
  <input type="text" name="peep" /><br/><br/>
  <input type="submit" value="Submit" />
</form>

<font face = verdana>
<% @peeps.each do |peep| %>
<p><%= peep %><p/>
<% end %>
</font>
</center>
