<body style="background-color:powderblue;">
<center>
<h1><font face = verdana color="Brown">Chitter</font></h1>
<form action ="/users" method="post">
  <p><font face = arial color = black style="font-size: 18pt">Email:</font>
  <input type="email" name="email"/>
  </p>
  <p><font face = arial color = black style="font-size: 18pt">Password:</font>
  <input type="password" name="password"/>
</p>
  <input type="submit" value="Submit"/>
</form>

</center>
</body>
